.rolling-container {
  position: relative;
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
  width: 50%;
  overflow: hidden;
}

.rolling-text {
  width: 150%;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s ease-in infinite;
  -webkit-animation: my-animation 15s ease-in infinite;
  animation: my-animation 7s linear ease-in;
}

/* for Firefox */
@-moz-keyframes my-animation {
  0% {
    -moz-transform: translateX(100%);
  }
  33% {
    -moz-transform: translateX(0%);
  }
  66% {
    -moz-transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  0% {
    -webkit-transform: translateX(100%);
  }
  33% {
    -webkit-transform: translateX(0%);
  }
  66% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  0% {
    transform: translateX(100%);
  }
  33% {
    transform: translateX(0%);
  }
  66% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
